header,
main,
footer{
    background-color: #ff66a3;
}
header{
    height: 150px;
    margin-bottom: 50px;
}
main{
    margin-bottom: 50px;
}
.section_wrap{
    display: flex;
    padding: 20px;
}
#box1,
#box2{
    height: 450px;
}
#box3,
#box4{
    height: 760px;
}
#box1,
#box3{
    background-color: #99003d;
}
#box2,
#box4{
    background-color: #800033;
}
footer{
    margin-top: 50px;
    height: 150px;
}
@media screen and (max-width: 760px) {
    .section_wrap{
        display: block;
    }
}
main>div:first-child{
    transform: rotate(-180 deg);
}
#box1,
#box2,
#box3,
#box4{
    height: 280px;
}